  <div class ="col-1">
  </div>

  <h2>ログイン</h2>
  <p>会員の方はこちらからログイン</p>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="field">
    <%= f.label :メールアドレス　　 %>
    <%= f.email_field :email, autofocus: true, autocomplete: "email", size: 50 %>
  </div>

  <div class="field">
    <%= f.label :パスワード　　　　 %>
    <%= f.password_field :password, autocomplete: "current-password", size: 50 %>
  </div>

  <div class="field">
    <%= f.label :　　　　　　　　　 %>
    <%= f.submit "   ログイン   " , class:"btn btn-success btn-sm btn-lg"  %>
  </div>
<% end %>


<div class = "sign_up">
 <p>会員登録がお済みでない方</p>
 <%= link_to 'こちら', new_customer_registration_path %> から新規登録を行ってください。
 </div>
